<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sergiosiniy.beeradvicer">
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FindBeerActivity"
            android:label="@string/title_activity_find_beer" />
        <activity
            android:name=".activities.AdviceNewBeer"
            android:label="@string/title_activity_add_beer" />
        <activity
            android:name=".activities.BeerFragmentsActivity"
            android:parentActivityName=".activities.FindBeerActivity"
            android:label="@string/title_activity_select_beer"/>
        <activity
            android:name=".activities.BeerDetailsActivity"
            android:parentActivityName=".activities.FindBeerActivity"
            android:label="@string/title_activity_beer_details"/>
    </application>

</manifest>